body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
}
h3 {
  color: palegoldenrod;
  text-align: center;
}

button {
  background-color: palegoldenrod;
  position: relative;
  top: 20px;   
  left: 1580px;  
  /*button control*/
  /*style control*/
  padding: 15px 30px;
}
  
img {
  position: relative;
  left: 1610px;
}

.hidden {
  color: white;
  position: relative;
  left: 1480px;
  top: 30px; 
  display: none;
}