body {
  background-color: black;
}
h1 {
  color: white;
  text-align: center;
}
h3 {
  color: palegoldenrod;
  text-align: center;
}

button {
  background-color: palegoldenrod;
  position: relative;
  top: 20px;   /* Moves it 20px down from its original spot */
  left: 300px;  /* Moves it 30px right from its original spot */
}